{{#if favored}}
  <div class="pill pill-medium favored-spell"><span
      class="label font-label-medium color-text-lighter"
    >{{localize "ROS5E.Spell.Favored"}} Cantrips</span>
    <span class="value"><span
        class="font-data-medium"
      >{{favored.cantrips.length}}/{{cantripsmax}}</span></span>
  </div>
  <div class="pill pill-medium favored-spell"><span
      class="label font-label-medium color-text-lighter"
    >{{localize "ROS5E.Spell.Favored"}} Spells</span>
    <span class="value"><span
        class="font-data-medium"
      >{{favored.spells.length}}/{{spellsmax}}</span></span>
  </div>
{{/if}}